<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="login-container">
    <h2>Giriş Yap</h2>
    <!-- Eğer URL'de 'error' parametresi varsa hata mesajını göster -->
    <div th:if="${param.error}">
        <p style="color: red;">Giriş başarısız. Lütfen kullanıcı adı veya şifrenizi kontrol edin.</p>
    </div>
    <form action="/login" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div>
            <label>Kullanıcı Adı:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Parola:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="checkbox" name="remember-me" /> Beni Hatırla
        </div>
        <div>
            <button type="submit">Giriş Yap</button>
        </div>
    </form>
</div>
</body>
</html>
